.DS_Store
.git

# Cache
.mypy_cache
*__pycache__*
*.egg-info
*.pyc
*.pytest_cache
*.ruff_cache
*.cache*
*.config*
*.local*

# Machine specific
.idea
.vscode

# Ignore .env files
.env
.envrc

# ignore storage dir
/storage
.images

# ignore dist dir
dist

# ignore virtualenvs
.venv*
venv*
